$background-color: #C564B1;
$title-color:       rgba(255, 255, 255, 0.7);



.widget-pictogram {
  background-color: $background-color;
  vertical-align: top;
  .title {
    color: $title-color;
  }
  .picto-wrapper {
    li {
      display: inline-block;
    }
//    height: 170px;
//    width: 276px;
  }

}