<!-- Delete everything in this .container and get started on your own site! -->
<div class="navBar">
  <div class="container">
    <div class="row">
      <div class="two columns">
        <img src="/assets/static_layout/logo.png" alt="Logo">
      </div>
      <div class="twelve columns offset-by-two">
        <ul id="menu">
          <li><a href="#feature1">Features</a></li>
          <li><a href="#solutions">Solutions</a></li>
          <li><a href="#clients">Clients</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="sixteen columns feature-text">
      <h2>Frequently Asked Questions</h2>
    </div>
  </div>
  <div class="row">
    <div class="sixteen columns">
      <h4>Where are the classes held?</h4>
      <br/>
      <h5>The group classes will be held outdoors at parks. If your company has an area where a class could be held, we'll gladly send a trainer to your location.</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4>How will I know what time and where the classes are held?</h4>
      <br/>
      <h5>You’ll be able to see a list of upcoming classes on our app or website. It will tell you where exactly to meet.</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4>I don’t see a time or location that is right for my company.</h4>
      <br/>
      <h5>No problem! Contact us and we’ll cater a class that’s just right for your company.</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4>What is a FitStack credit?</h4>
      <br/>
      <h5>A FitStack credit is a session pass that gives one employee access to any group class in our network.</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4>How does the rollover work?</h4>
      <br/>
      <h5>Every month, each unused credit will be rolled over to the next month. They will never expire, even if you leave us!</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4>What’s your cancellation policy?</h4>
      <br/>
      <h5>You can cancel your plan at anytime. Hassle free. Your employees will still have access to our group class network as long as you have FitStack credits remaining.</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4>How do I know which plan would be best for my company?</h4>
      <br/>
      <h5>Great question. Use the chart below to figure out how many credits a month your company will need. You will also ask “why is everything in multiples of eight?” So smart. The CDC has stated a healthy individual should be working out at least 2 or more days a week. That’s at least eight times a month. We want your employees to be healthy!</h5>
    </div>
  </div>

<!--I hope this looks okay-->
<h5>Credits Suggested Per Month</h5>
<table style="width:300px">
  <tr>
    <th>Percentage of Employees Exercising</th>
  </tr>
  <tr>
    <th>Company Size</th>
    <th>10%</th>
    <th>15%</th> 
    <th>20%</th>
    <th>25%</th>
    <th>30%</th>
  </tr>
  <tr>
    <td>Ten</td>
    <td>8</td> 
    <td>16</td>
    <td>16</td>
    <td>24</td> 
    <td>24</td>
  </tr>
  <tr>
    <td>Twenty-Five</td>
    <td>24</td> 
    <td>32</td>
    <td>40</td>
    <td>56</td> 
    <td>64</td>
  </tr>
  <tr>
    <td>Fifty</td>
    <td>40</td> 
    <td>64</td>
    <td>80</td>
    <td>104</td> 
    <td>120</td>
  </tr>
  <tr>
    <td>Seventy-Five</td>
    <td>64</td> 
    <td>96</td>
    <td>120</td>
    <td>152</td> 
    <td>184</td>
  </tr>
  <tr>
    <td>One Hundred</td>
    <td>80</td> 
    <td>120</td>
    <td>160</td>
    <td>200</td> 
    <td>240</td>
  </tr>
  <tr>
    <td>One Fifty</td>
    <td>120</td> 
    <td>184</td>
    <td>240</td>
    <td>304</td> 
    <td>360</td>
  </tr>
  <tr>
    <td>Two Hundred</td>
    <td>160</td> 
    <td>240</td>
    <td>320</td>
    <td>400</td> 
    <td>480</td>
  </tr>
  <tr>
    <td>Two Fifty</td>
    <td>200</td> 
    <td>304</td>
    <td>400</td>
    <td>504</td> 
    <td>600</td>
  </tr>
  <tr>
    <td>Three Hundred</td>
    <td>240</td> 
    <td>360</td>
    <td>480</td>
    <td>600</td> 
    <td>720</td>
  </tr>
  <tr>
    <td>Four Hundred</td>
    <td>320</td> 
    <td>480</td>
    <td>640</td>
    <td>800</td> 
    <td>960</td>
  </tr>
  <tr>
    <td>Five Hundred</td>
    <td>400</td> 
    <td>600</td>
    <td>800</td>
    <td>1000</td> 
    <td>1200</td>
  </tr>                      
</table>

  <div class="row">
    <div class="sixteen columns">
      <h4>My company does not fit into this chart. What do I do?</h4>
      <br/>
      <h5>Wow, that must mean your company is really large or very healthy! Contact us at support@fitbookr.com and we’ll work with you to get you on the right plan.</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4>I don’t believe the CDC said that.</h4>
      <br/>
      <h5>Actually, the CDC says adults should be working out more than we suggested. Don’t believe us? Check out their</h5>
      <a href="http://www.cdc.gov/physicalactivity/everyone/guidelines/adults.html">guidelines</a>
      <h5>. You might end up asking for more credits!</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4>Why should my company go work out through FitStack versus going to a gym?</h4>
      <br/>
      <h5>We’re not saying you shouldn’t go to a gym! We are actually all members of gyms too. But the fact is, just because you have a gym membership doesn’t mean you are actually working out. Joining FitStack will give access to a Dashboard that will show just how much employees are taking advantage of the FitStack benefit.</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4>What is the FitStack Dashboard?</h4>
      <br/>
      <h5>The Dashboard gives your company insight into the benefits received from FitStack. Your company will be able to see how many credits are left, number of steps taken, how many calories your company has burned and a lot more! Check out the demo </h5>
      <a href="http://www.fitstack.co/demo">here</a>
      <h5>.</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4>Why shouldn’t I just have everyone go to the next door gym’s workout classes?</h4>
      <br/>
      <h5>If you can, you totally should. But what happens if one person doesn’t have a membership. And will you be able to see if your team is actually going? And what happens if they don’t like that class or teacher? We’ll track your attendance for you and guarantee that our trainers are awesome! And no membership required.</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4>Who are your trainers anyways?</h4>
      <br/>
      <h5>They are all veteran trainers who have been in the fitness industry for several years. We’ve worked with multiple trainers over time and chosen only the best to be part of our network. We’ve actually worked out with all of them.</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4>What if I have a bad experience?</h4>
      <br/>
      <h5>We’ve been to several group classes and we haven’t heard of anyone complaining. Except that their bodies are sore. However, if something does happen, we are all ears. We will listen to your experience and work with you to resolve the situation.</h5>
    </div>
  </div>

</div>