<!-- Delete everything in this .container and get started on your own site! -->
<div class="navBar">
  <div class="container">
    <div class="row">
      <div class="two columns">
        <img src="/assets/static_layout/logo.png" alt="Logo">
      </div>
      <div class="twelve columns offset-by-two">
        <ul id="menu">
          <li><a href="#feature1">Features</a></li>
          <li><a href="#solutions">Solutions</a></li>
          <li><a href="#clients">Clients</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="sixteen columns feature-text">
      <h2>Frequently Asked Questions</h2>
    </div>
  </div>
  <div class="row">
    <div class="sixteen columns">
      <h4> Here is the first question</h4>
      <br/>
      <h5> Here is the answer?</h5>
    </div>
  </div>

  <div class="row">
    <div class="sixteen columns">
      <h4> Here is the second question</h4>
      <br/>
      <h5> Here is the second answer?</h5>
    </div>
  </div>


</div>