
<!-- Primary Page Layout
================================================== -->

<!-- Delete everything in this .container and get started on your own site! -->
<div class="navBar">
  <div class="container">
    <div class="row">
      <div class="two columns">
        <img src="/assets/static_layout/logo.png" alt="Logo">
      </div>
      <div class="twelve columns offset-by-two">
        <ul id="menu">
          <li><a href="#feature1">Features</a></li>
          <li><a href="#solutions">Solutions</a></li>
          <li><a href="#clients">Clients</a></li>
          <li><a href="#team">Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<section class="hero">
  <div class="container">
    <div class="nine columns offset-by-seven">
      <h1><span>Build a </span></h1>
      <h1><span>healthy culture</span></h1>
      <script>
        jQuery("h1").fitText(1.2, { minFontSize: '20px', maxFontSize: '40px' })
      </script>
      <p>Access to group classes all over the city. With no commitment.</p>
      <button>Learn More</button>
    </div>
  </div>
</section>
<section id="feature1">
  <div class="container">
    <div class="row">
      <div class="ten columns feature-text">
        <h2>Strengthen your company.</h2>
        <p>Literally and physically. FitStack gives access to group classes all over the city at a variety of times. Give your team the power to find and join a class that works best for them. All while increasing group activity and productivity to promote a healthier culture.</p>
      </div>
      <div class="four columns offset-by-two">
        <img class="scale-with-grid" src="/assets/static_layout/iphone.png" alt="iphone">
      </div>
    </div>
  </div>
</section>
<section id="feature2">

  <div class="container">
    <div class="row">
      <img src="/assets/static_layout/imac.png" alt="imac">
      <div class="eleven columns offset-by-five feature-text">
        <h2>Understand your investment.</h2>
        <p>The value of adding benefitsasdfasfdasdf to your company shouldn’t be a mystery. FitStack’s dashboard brings powerful metrics to your fingertips. See the utilization rate of your investment and how much your company gains (or loses if counting calories) from our services.</p>
      </div>
    </div>
  </div>
</section>
<section id="solutions">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <h2>Solutions</h2>
        <p>The best thing since pay as you go cell phones, pay for benefits that you actually receive.</p>
      </div>
      <div class="one-third column clearfix">
        <div class="solutionHeader">
          <h3>Pay As You Go</h3>
          <div class="price">$25 <br><span>per person</span></div>
        </div>
        <div class="solutionDesc">
          <ul>
            <li>No commitment. Ever.</li>
          </ul>
          <button name="submit">Sign Up</button>
        </div>
      </div>
      <div class="one-third column">
        <div class="solutionHeader">
          <h3>100 pack</h3>
          <div class="price">$23 <br><span>per person</span></div>
        </div>
        <div class="solutionDesc">
          <ul>
            <li>100 group session passes</li>
            <li>$2300/month</li>
          </ul>
          <button name="submit">Sign Up</button>
        </div>
      </div>
      <div class="one-third column">
        <div class="solutionHeader">
          <h3>Monthly Renewal</h3>
          <div class="price">$20 <br><span>per person</span></div>
        </div>
        <div class="solutionDesc">
          <ul>
            <li>Companies ranging from 100 to 200 employees</li>
            <li>320 group session access passes</li>
            <li>$4480/month or 1 catered lunch plus happy hour</li>
          </ul>
          <button name="submit">Sign Up</button>
        </div>
      </div>
      <div class="sixteen columns">
        <p>Don’t like any of these plans? Send us an email with your company size and how many of your employees exercise. Let’s work together to come up with a plan suited for your company.</p>
      </div>
    </div>
  </div>
</section>
<section id="clients">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <h2>Our Clients</h2>
      </div>
    </div>
  </div>
</section>
<section id="team">
  <div class="container">
    <div class="row">
      <div class="sixteen columns">
        <h2>The Team</h2>
      </div>
    </div>
    <div class="row">
      <div class="four columns">
        <img class="scale-with-grid" src="/assets/static_layout/clee.png" alt="Charles Lee"/>
        <div class="jobContainer">
          <h4>Charles Lee</h4>
          <h5>Job Title</h5>
        </div>
      </div>
      <div class="four columns">
        <img class="scale-with-grid" src="/assets/static_layout/jpark.png" alt="James Park"/>
        <div class="jobContainer">
          <h4>James Park</h4>
          <h5>Job Title</h5>
        </div>
      </div>
      <div class="four columns">
        <img class="scale-with-grid" src="/assets/static_layout/gbianchi.png" alt="Gregory Bianchi"/>
        <div class="jobContainer">
          <h4>Gregory Bianchi</h4>
          <h5>Job Title</h5>
        </div>
      </div>
      <div class="four columns">
        <img class="scale-with-grid" src="/assets/static_layout/ghaylett.png" alt="Gemma Haylett"/>
        <div class="jobContainer">
          <h4>Gemma Haylett</h4>
          <h5>Designer</h5>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="sixteen column">
        <h2>Contact Us</h2>
        <p>Interested in learning more about how Fitstack can help your company? Fill out the contact form below and we'll be sure to get back to you with more information.</p>
      </div>
      <form action="/contact" method="post">
        <div class="eight columns">
          <input type="text" name="fname" value="First Name">
        </div>
        <div class="eight columns">
          <input type="text" name="lname" value="Last Name">
        </div>
        <div class="eight columns">
          <input type="email" name="email" value="Email">
        </div>
        <div class="eight columns">
          <input type="text" name="phoneNum" value="Phone Number">
        </div>
        <div class="four columns offset-by-six">
          <button name="submit">Send</button>
        </div>
      </form>
    </div>
  </div><!-- container -->
</section>
<footer>
  <div class="container">
    <span>&copy;2014 Fitstack</span>
  </div>
</footer>


<script>
  $(".hero").backstretch("/assets/static_layout/hero.jpg");

  $(function(){
    $('#menu').slicknav();
  });
</script>


<!-- End Document
================================================== -->
