<!-- Delete everything in this .container and get started on your own site! -->
<div class="navBar">
  <div class="container">
    <div class="row">
      <div class="two columns">
        <a href="/">
          <img src="/assets/static_layout/logo.png" alt="Logo">
        </a>
      </div>
      <div class="twelve columns offset-by-two">
        <ul id="menu">
          <!--<li><a href="#feature1">Features</a></li>-->
          <!--<li><a href="#solutions">Solutions</a></li>-->
          <!--<li><a href="#clients">Clients</a></li>-->
          <!--<li><a href="#team">Team</a></li>-->
          <li>&nbsp;</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <form>
    <input type="hidden" name="token" value="<%= @token %>" />
    <div class="row">
      <div class="sixteen columns feature-text">
        <h2>Set a new password</h2>
      </div>
    </div>

    <div class="row">
      <div class="sixteen columns">
        <label for="password">New Password</label>
        <input type="password" name="password" id="password" />
      </div>
    </div>
    <div class="row">
      <div class="sixteen columns">
        <label for="password-confirm">Confirm New Password</label>
        <input type="password" id="password-confirm" />
      </div>
    </div>
    <div class="row">
      <div class="sixteen columns">
        <button name="submit">Save</button>
      </div>
    </div>
  </form>

</div>

<script type="text/javascript">
  $(function() {
    $('form').on('submit', function(evt) {
      var setBtnState = function($btn, enabled) {
        if(!enabled) {
          $btn.attr('disabled', 'disabled');
          $btn.css('opacity', 0.3);
        } else {
          $btn.removeAttr('disabled');
          $btn.css('opacity', 1.0);
        }
      };
      evt.preventDefault();
      $btn = $('button');
      setBtnState($btn, false);
      $pw = $('#password');
      $pwConfirm = $('#password-confirm');
      if($pw.val() != $pwConfirm.val()) {
        alert('Passwords do not match.');
        setBtnState($btn, true);
        return;
      }
      if($pw.val().length < 5) {
        alert('Your password is too short.');
        setBtnState($btn, true);
        return;
      }
      var apiUrl = 'http://gregback.herokuapp.com/api/update_password';
      $.post(apiUrl, $(this).serialize()).done(function() {
        alert('Your password has been reset!');
        window.location.href = 'http://www.fitstack.co';
      }).error(function() {
        alert('Sorry, something went wrong.');
      })
    });
  });

</script>